.response {
    border: 1px solid $c-blue;
    border-radius: 2rem;
    padding: 5%;
    width: 100%;
    transition: all 0.5s, border-color 0s;

    &--success {
        font-size: 2.5rem;
        margin: 2rem 0;
        width: 100%;

        span {
            display: block;
            color: $c-blue;
            font-size: 4.5rem;
            font-weight: $t-bold;
            word-wrap: break-word;
            max-width: 100%;
        }
    }

    &--error {
        color: $c-red;
        font-size: 5rem;
        font-weight: $t-medium;
    }
}