@import './variables/colors';
@import './variables/typography';
@import './variables/breakpoints';

@import './globals';

@import './blocks/grid';
@import './blocks/text';
@import './blocks/links';
@import './blocks/btn';
@import './blocks/form';
@import './blocks/response';

@import './components/container';
@import './components/header';
@import './components/main';
@import './components/footer';